#addNewCategoryModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='addNewCategoryModal')
    .modal-dialog(role='document')
        .modal-content
            .modal-header.addNewModalHeader.modalFooterAdd
                button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') ?
                h4.modal-title Добавить Категорию
            .modal-header.editModalHeader.modalFooterEdit
                button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') ?
                h4.modal-title Редактировать Категорию
            .modal-body
                form
                    .form-group
                        label.control-label(for='addCategoryInput') Имя категории:
                        input#addCategoryInput.form-control(type='text')
                    .form-group
                        label.control-label.modalFooterAdd(for='addCategoryArticleInput') Артикул:
                        input#addCategoryArticleInput.form-control.modalFooterAdd(type='text')
            .modal-footer
                .modalFooterAdd
                    button.btn.btn-default(type='button', data-dismiss='modal') Отмена
                    button#addCategoryBtn.btn.btn-success(type='button') Добавить
                .modalFooterEdit(style='display: none;')
                    button.btn.btn-default(type='button', data-dismiss='modal') Отмена
                    button#editCategoryBtn.btn.btn-primary(type='button') Сохранить