form#mainIcons.form-inline
    #backIcon.form-group.hvr-pulse-grow.defaultIcon
        span.glyphicon.glyphicon-th-large.centerIcon(aria-hidden='true')
    #prefIcon.form-group.hvr-pulse-grow.defaultIcon
        span.glyphicon.glyphicon-cog.centerIcon(aria-hidden='true')
    #dbIcon.form-group.hvr-pulse-grow.defaultIcon
        span.glyphicon.glyphicon-folder-close.centerIcon(aria-hidden='true')
    #prIcon.form-group.hvr-pulse-grow.defaultIcon
        span.glyphicon.glyphicon-check.centerIcon(aria-hidden='true')