body {
    display: none;
}

html, body {
    height: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
}

.split-pane-divider {
    background: #aaa;
}

#left-component {
    //width: 60em;
}

#divider {
    //left: 60em; /* same as left component width */
    width: 5px;
}

#right-component {
    //left: 60em;
    margin-left: 5px; /* same as divider width */
}

#addNewTab, #addNewTabRight {
    cursor: pointer;
}

.closeTab, .closeTabRight {
    margin-left: 20px;
    margin-right: -5px;
    font-size: 10px;
}

.closeTab:hover, .closeTabRight:hover {
    border-radius: 20px;
    font-size: 12px;
    cursor: pointer;
}

/*input[type=number] {
    width: 50px;
}*/

.bg-danger {
    display: none;
}

#categoriesListTable {
    width: 250px;
    height: 200px;
    overflow: auto;

}
#fileManagerProductsWrapper {
    width: 100%;
    height: 200px;
    overflow: auto;
}
#myLargeModalLabel {
    text-align: center;
    background-color: hsl(193, 46%, 41%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#57aac1", endColorstr="#388398");
    background-image: linear-gradient(#57aac1, #388398) !important;
    border-color: #388398 #388398 hsl(193, 46%, 37.5%);
    color: #fff !important;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.23);
    -webkit-font-smoothing: antialiased;
}
#kimListWrapper, #metallListWrapper {
    max-height: 300px;
    overflow: auto;
    margin-top: 15px;
}
#categoriesListTable:hover {
    /*box-shadow: 5px 5px 10px #888888;*/
}

#categoriesListContent {
    verflow: auto;
}
.productTableWrapper {
    min-width: 500px;
    max-width: 500px;
}
.rowNameInput {
    width: 250px;
}
th {
    text-align: center !important;
    background-color: rgba(43, 41, 51, 0.100);
    color: black;
}

#addFormulaBtn {
    margin-left: 44%;
}

h4 {
    text-align: center;
}

#sortable {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#alwaysInTable {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
    font-weight: bold;
}
#alwaysInTable .rowName {
    margin-right: -4px;
}
#alwaysInTable li {
    background-color: hsl(193, 46%, 41%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#57aac1", endColorstr="#388398");
    background-image: linear-gradient(#57aac1, #388398) !important;
    border-color: #388398 #388398 hsl(193, 46%, 37.5%);
    color: #fff !important;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.23);
    -webkit-font-smoothing: antialiased;
    margin: 1px;
}
#alwaysInTable .rowValue {
    margin-left: 5px;
    color: #1c94c4;
}
#alwaysInTable .rowName {
    color: #1c94c4;
}
.ui-state-default {
    margin: 1px;
}
.tableContent {
    margin-top: 10px;
}
.blockNameAndCat, .tableContent {
    border: 1px white solid;
    padding: 15px 0;
    min-width: 670px;
    max-width: 670px;
}

.blockNameAndCat:hover, .tableContent:hover {
    border: 1px rgba(149, 171, 153, 0.5) solid;
}

/* EDIT & SAVE CATEGORIES LIST CONTENT */
#editCategoriesListContent, #editTableContent{
    display: none;
}
.triggerKimPencil, .triggerRemoveKim, .triggerMetallPencil, .triggerRemoveMetall {
    display: none !important;
}
.leftTable {
    margin-left: 20px;
    opacity: 0.5;
}
.glyphicon-floppy-disk {
    margin-left: 20px;
    opacity: 0.5;
}
.glyphicon-floppy-disk:hover {
    cursor: pointer;
    font-size: 18px;
    color: green;
    opacity: 0.9;
}
.glyphicon-pencil:hover {
    cursor: pointer;
    font-size: 18px;
    opacity: 0.9;
    color: blue;
}
.editKimPencil, .editMetallPencil {
    opacity: 0.5;
}
.created {
    margin: 20px 0;
}
.createTableDiv {
    margin-bottom: 20px;
}

ol li {
    cursor: pointer;
}
ol li:hover {
    border: 1px green solid
}
.formulaBtnGroupPr {
    margin: 15px 0;
    display: none;
}
#addFormulaBtnPr {
    display: none;
}
.removeRow, .removeKim, .removeMetall {
    opacity: 0.5;
    padding-left: 5px;
    font-size: 12px;
}
.removeRow:hover, .removeKim:hover, .removeMetall:hover {
    cursor: pointer;
    font-size: 15px;
    opacity: 0.9;
    color: red;
}
#formulasList {
    list-style: none;
    cursor: pointer;
}
#formulasHelper {
    display: none;
    background-color: hsl(60, 2%, 58%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#d7d7d5", endColorstr="#969691");
    background-image: linear-gradient(#d7d7d5, #969691) !important;
    border-color: #969691 #969691 hsl(60, 2%, 51.5%);
    color: #333 !important;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.42);
    -webkit-font-smoothing: antialiased;
}
.fhBtn {
    margin: 0 2px;
    color: #000000 !important;
    font-weight: bold !important;
}
.glyphicon-retweet {
    color: #31708f;
    margin: 0 10px;
}
.addNewFhBtn {
    margin-left: -5px;
}
#addNewFhBtnInput {
    width: 50px;
    height: 22px;
}
.justCreated {
    display: none;
}
.removeFhBtn {
   font-size: 10px;
    margin-left: 5px;
}
.removeFhBtn:hover {
    font-size: 12px;
}
.glyphicon-resize-full {
    color: #31708f;
    margin: 0 10px;
    color: red;
}

/* CUSTOM BUTTONS*/
.btn:hover {
    background-position: 0 -15px;
    color: #333;
    text-decoration: none;
}
.custom-addRowsToTable {
    background-color: hsl(70, 11%, 23%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#7b7f66", endColorstr="#3e4134");
    background-image: linear-gradient(#7b7f66, #3e4134) !important;
    border-color: #3e4134 #3e4134 hsl(70, 11%, 17.5%);
    color: #fff !important;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.36);
    -webkit-font-smoothing: antialiased;
}
.custom-cancelInputFormula {
  background-color: hsl(0, 98%, 7%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#5f0000", endColorstr="#230000");
  background-image: linear-gradient(#5f0000, #230000) !important;
  border-color: #230000 #230000 hsl(0, 98%, 4%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.19);
  -webkit-font-smoothing: antialiased;
}
.custom-addFormula {
  background-color: hsl(214, 37%, 28%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#7a99c1", endColorstr="#2c4361");
  background-image: linear-gradient(#7a99c1, #2c4361) !important;
  border-color: #2c4361 #2c4361 hsl(214, 37%, 19.5%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.56);
  -webkit-font-smoothing: antialiased;
}
.editKimTable {
    border: none !important;
    background-color: white;
    width: 60px;
}
.editMetallTable {
    border: none !important;
    background-color: white;
    width: 60px;
}
#addToOrderBtn {
    /*margin-bottom: 5px;*/
    margin-right: 5px;
}
.inputWithoutBorders {
    width: 3em;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: none;
}
.skipLineHeight {
    line-height: 14px !important;
}
/*#saveInDB {
    color: #000000;
}
#saveInDB:hover {
    color: #ffffff;
}*/
#saveOrderInDBWrapper {
    margin-left: 207px;
}
.addedToOrder {
   /* background-color: yellow !important;*/
}
#addNewSection {
    cursor: pointer;
    font-size: 12px;
}
#addNewSection:hover {
    color: green;
}
#menuOpen {
    position: absolute;
    left: 49%;
    z-index: 5000;
    opacity: 0.3;
    background-color: #2aabd2;
    width: 31px;
    padding: 3px;
    border-radius: 3px;
    cursor: pointer;
    font-size: 20px;
    margin-top: -8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
#menuOpen:hover {
    opacity: 1;
    color: aliceblue;
}
#orderDetailsWrapper {
    padding-top: 15px;
    margin-bottom: 15px;
}
.openProductTab:hover {
    font-size: 15px;
    cursor: pointer;
}
.openProductTabSelected {
    font-size: 15px;
    cursor: pointer;
    color: green;
}
.checkToArticle {
    margin-left: 5px !important;
    display: none;
}
#saveArticle, #cancelArticleBtn{
    display: none;
}
#errorArticle {
    color: #000000;
    display: none;
}
.inputError {
    border: 1px solid hsla(360, 99%, 46%, 0.92);
    border-radius: 2px
}
.clearer { clear: both; }