body {
    display: none;
}

/* MENU ICONS */

#menuIconsRight, #menuIconsBottom, #menuIconsLeft {
    display: none;
}

#menuIconsTop {
    height: 44px;
}
.centerIcon {
    margin-left: 5px;
}
#creatingProductsWrapper, #databaseWrapper {
    display: none;
    margin-top: 49px;
    height: 100vh;
}

/* MAIN MENU */
.colorpicker-element {
    color: transparent !important;
    width: 125px !important;
}
#mainMenuWrapper {
    height: 100vh;
    background-color: steelblue;
}
.mainMenuIcon {
    height: 130px;
    width: 210px !important;
    text-align: center;
    background-color: #2aabd2;
    border-radius: 8px;
    cursor: pointer;
    font-size: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    margin-right: 5px;
}
.mainMenuIcon span {
    font-size: 70px;
    margin-top: 5px;
}
#backIcon, #prefIcon, #dbIcon, #menuOpen, #prIcon, #showCustomThemes {
    width: 42px;
    padding: 3px;
    border-radius: 3px;
    cursor: pointer;
    font-size: 25px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
#backIcon, #prefIcon, #dbIcon, #menuOpen, #prIcon{
    margin-right: 5px;
    color: white;
}
#showCustomThemes {
    top: 15%;
    margin-top: 0;
    margin-left: 155px;
}
#customThemesWrapper {
    position: fixed;
    z-index: 5000;
    opacity: 0.3;
    width: 200px;
    height: 200px;
    padding: 3px;
    border-radius: 3px;
    cursor: pointer;
    margin-left: -200px;
    background-color: grey;
    top: 15%;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.activeTopIcon {
    opacity: 0.5;
}
#backIcon {
    background-color: #265a88;
    margin-left: 40%;
}
#prefIcon {
    color: black;
    background-color: steelblue;
}
#dbIcon {
    background-color: #eb9316;
}
#menuOpen {
    color: black;
    background-color: #2aabd2;
}
#prIcon {
    background-color: #3e8f3e;
}
#prefAlwaysInTable .prefRowName {
    margin-right: -4px;
}
#prefAlwaysInTable .prefRowValue {
    margin-left: 5px;
    color: #1c94c4;
}
#prefAlwaysInTable .prefRowName {
    color: #1c94c4;
}
/* PREFERENCES */
#preferencesWrapper {
    display: none;
    margin-top: 31px;
}
#prefGeneralWrapper, #prefTabsWrapper, #prefProductsWrapper, #prefOrdersWrapper {
    margin-top: 8px;
}
#runPreferences span{
    /*font-size: 70px;
    margin-top: 5px;*/
}
.stylesTable th{
    background-color: white;
    padding-right: 10px;
}
/* ORDER TABS*/
#myTab, #rightTabs, #rightTabsContent, #leftTabsContent {
    display: none;
}

#productsTreeWrapper, #clientsTreeWrapper {
    height: 100vh;
    overflow-y: scroll;
    position: relative; 
}

html, body {
    height: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
    font-family: Cyrillic UltraLight !important;
}
a {
    cursor: pointer;
}
.split-pane-divider {
    background: #aaa;
}

#left-component {
    //width: 60em;
}

#divider, #db-divider {
    //left: 60em; /* same as left component width */
    width: 5px;
}

#right-component, #db-right-component {
    //left: 60em;
    margin-left: 5px; /* same as divider width */
}

#addNewTab, #addNewTabRight, .moveWithoutOrderUp, .moveWithoutOrderDown, .removeWithoutOrderRow, .removeOrderRow, .moveToCopyTo, .moveOrderUp, .moveOrderDown {
    cursor: pointer;
}
.removeWithoutOrder:hover, .removeOrderRow:hover,.removeRowSection:hover {
    color: red;
}
#addNewTab:hover, #addNewTabRight:hover, .moveWithoutOrderUp:hover, .moveWithoutOrderDown:hover, .moveOrderUp:hover, .moveOrderDown:hover {
    color: blue;
}
.moveToCopyTo:hover {
    color: green;
}
.removeRowSection {
    font-size: 12px;
    cursor: pointer;
}
.closeTab, .closeTabRight {
    margin-left: 20px;
    margin-right: -5px;
    font-size: 10px;
}
.closeTab:hover, .closeTabRight:hover {
    border-radius: 20px;
    font-size: 12px;
    cursor: pointer;
}
/*input[type=number] {
    width: 50px;
}*/

.bg-danger {
    display: none;
}

/*#categoriesListTable {
    width: 255px;
    height: 300px;
    overflow: auto;

}*/
#addNewClient {
    color: wheat;
    cursor: pointer;
}
#addNewClient span {
    color: green;
}
#addNewClientForm {
    display: none;
}
#clientsTreeActionsWrapper {
    min-height: 20px;
}
#fileManagerProductsWrapper {
    width: 100%;
    /*height: 1000px;*/
    overflow: auto;
}
#myLargeModalLabel {
    text-align: center;
    background-color: hsl(193, 46%, 41%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#57aac1", endColorstr="#388398");
    background-image: linear-gradient(#57aac1, #388398) !important;
    border-color: #388398 #388398 hsl(193, 46%, 37.5%);
    color: #fff !important;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.23);
    -webkit-font-smoothing: antialiased;
}
#kimListWrapper, #metallListWrapper, #categoriesListTable {
    /*max-height: 300px;
    overflow: auto;*/
    margin-top: 15px;
}
#kimIconColor {
    color: darkcyan;
}
#categoriesListTable:hover {
    /*box-shadow: 5px 5px 10px #888888;*/
}

#categoriesListContent {
    verflow: auto;
}
.productTableWrapper {
    min-width: 500px;
    max-width: 500px;
}
#prefProductsTableWrapper {
    min-width: 340px;
    max-width: 340px;
}
.rowNameInput{
    width: 250px;
    font-weight: bold;
}
.prefRowNameInput {
    width: 150px;
    font-weight: bold;
}
.refRowValueInput, .rowValueInput, .rowNumber, .prefRowNumber {
    font-weight: bold;
}

th {
    text-align: center !important;
    background-color: rgba(43, 41, 51, 0.100);
    color: black;
}

#addFormulaBtn {
    margin-left: 44%;
}
.removeFormula {
   /* display: none !important;*/
    padding-left: 20px;
}
.removeFormula:hover {
    color: red;
}
h4 {
    text-align: center;
}

#sortable, #prefSortable {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#alwaysInTable, #prefAlwaysInTable {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
    font-weight: bold;
}
#alwaysInTable .rowName {
    margin-right: -4px;
}
#alwaysInTable li, #prefAlwaysInTable li {
    background-color: hsl(193, 46%, 41%);
    background-repeat: repeat-x;
    /*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#57aac1", endColorstr="#388398");*/
    /*background-image: linear-gradient(#57aac1, #388398) !important;*/
    border-color: #388398 #388398 hsl(193, 46%, 37.5%);
    color: #fff !important;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.23);
    /*-webkit-font-smoothing: antialiased;*/
    margin: 1px;
}
#sortable li, #prefSortable li {
    background-color: hsl(0, 0%, 93%);
    background-repeat: repeat-x;
    /*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#57aac1", endColorstr="#388398");*/
    /*background-image: linear-gradient(#57aac1, #388398) !important;*/
    border-color: #388398 #388398 hsl(193, 46%, 37.5%);
    color: #000 !important;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.23);
    /*-webkit-font-smoothing: antialiased;*/
    margin: 1px;
}
#alwaysInTable .rowValue {
    margin-left: 4px;
    color: #1c94c4;
}
#alwaysInTable .rowName {
    color: #1c94c4;
}
.ui-state-default {
    margin: 1px;
}
.tableContent {
    margin-top: 10px;
}
.blockNameAndCat, .tableContent {
    border: 1px white solid;
    padding: 15px 0;
    min-width: 670px;
    max-width: 670px;
}

.blockNameAndCat:hover, .tableContent:hover {
    border: 1px rgba(149, 171, 153, 0.5) solid;
}

/* EDIT & SAVE CATEGORIES LIST CONTENT */
#editCategoriesListContent, #editTableContent, .FMorderFullInfo{
    display: none;
}
.triggerKimPencil,
.triggerRemoveKim,
.triggerMetallPencil,
.triggerRemoveMetall,
.triggerCategoryPencil,
.triggerRemoveCategory
{
    display: none !important;
}
.leftTable {
    margin-left: 20px;
    opacity: 0.5;
}
.glyphicon-floppy-disk {
    margin-left: 20px;
    opacity: 0.5;
}
.glyphicon-floppy-disk:hover {
    cursor: pointer;
    font-size: 18px;
    color: green;
    opacity: 0.9;
}
.glyphicon-pencil:hover {
    cursor: pointer;
    font-size: 18px;
    opacity: 0.9;
    color: blue;
}
.editKimPencil, .editMetallPencil, .editCategoryPencil {
    opacity: 0.5;
}
.created {
    margin: 20px 0;
}
.createTableDiv {
    margin-bottom: 20px;
}

ol li {
    cursor: pointer;
}
ol li:hover {
    border: 1px green solid
}
.formulaBtnGroupPr {
    margin: 15px 0;
    display: none;
}
#addFormulaBtnPr {
    display: none;
}
.removeRow, .removeKim, .removeMetall, .removeCategory {
    opacity: 0.5;
    padding-left: 5px;
    font-size: 12px;
}
.removeRow:hover, .removeKim:hover, .removeMetall:hover, .removeCategory:hover {
    cursor: pointer;
    font-size: 15px;
    opacity: 0.9;
    color: red;
}
.glyphicon-th-list {
    cursor: pointer;
}
.glyphicon-fire {
    color: orangered;
    cursor: pointer;
}
.glyphicon-oil {
    color: blue;
    cursor: pointer;
}
#formulasList {
    list-style: none;
    cursor: pointer;
}
#formulasHelper {
    display: none;
    background-color: hsl(60, 2%, 58%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#d7d7d5", endColorstr="#969691");
    background-image: linear-gradient(#d7d7d5, #969691) !important;
    border-color: #969691 #969691 hsl(60, 2%, 51.5%);
    color: #333 !important;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.42);
    -webkit-font-smoothing: antialiased;
}
.fhBtn {
    margin: 0 2px;
    color: #000000 !important;
    font-weight: bold !important;
}
.glyphicon-retweet {
    color: #31708f;
    margin: 0 10px;
}
.bindFormulaWithCell {
    color: #31708f;
    margin: 0 10px;
    font-size: 17px;
}
.bindFormulaWithCell:hover {
    color: green;
}
.addNewFhBtn {
    margin-left: -5px;
}
#addNewFhBtnInput {
    width: 50px;
    height: 22px;
}
.justCreated {
    display: none;
}
.removeFhBtn {
   font-size: 10px;
    margin-left: 5px;
}
.removeFhBtn:hover {
    font-size: 12px;
}
.glyphicon-resize-full {
    color: #31708f;
    margin: 0 10px;
    color: red;
}

/* CUSTOM BUTTONS*/
.btn:hover {
    background-position: 0 -15px;
    color: #333;
    text-decoration: none;
}
.custom-addRowsToTable {
    background-color: hsl(70, 11%, 23%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#7b7f66", endColorstr="#3e4134");
    background-image: linear-gradient(#7b7f66, #3e4134) !important;
    border-color: #3e4134 #3e4134 hsl(70, 11%, 17.5%);
    color: #fff !important;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.36);
    -webkit-font-smoothing: antialiased;
}
.custom-cancelInputFormula {
  background-color: hsl(0, 98%, 7%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#5f0000", endColorstr="#230000");
  background-image: linear-gradient(#5f0000, #230000) !important;
  border-color: #230000 #230000 hsl(0, 98%, 4%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.19);
  -webkit-font-smoothing: antialiased;
}
.custom-addFormula {
  background-color: hsl(214, 37%, 28%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#7a99c1", endColorstr="#2c4361");
  background-image: linear-gradient(#7a99c1, #2c4361) !important;
  border-color: #2c4361 #2c4361 hsl(214, 37%, 19.5%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.56);
  -webkit-font-smoothing: antialiased;
}
.editKimTable, .editMetallTable, .editCategoriesTable {
    border: none !important;
    background-color: white;
    width: 60px;
}
#addToOrderBtn {
    /*margin-bottom: 5px;*/
    margin-right: 5px;
}
.inputWithoutBorders {
    width: 3em;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: none;
}
.skipLineHeight {
    line-height: 14px !important;
}
/*#saveInDB {
    color: #000000;
}
#saveInDB:hover {
    color: #ffffff;
}*/
#saveOrderInDBWrapper {
    margin-left: 207px;
}
.addedToOrder {
   /* background-color: yellow !important;*/
}
#addNewSection {
    cursor: pointer;
    font-size: 12px;
}
#addNewSection:hover {
    color: green;
}

#orderDetailsWrapper {
    padding-top: 15px;
    margin-bottom: 15px;
}
.consolidateOrder {
    margin-left: 5px;
}
.openProductTab:hover, .consolidateOrder:hover {
    font-size: 15px;
    cursor: pointer;
}
.openProductTabSelected {
    font-size: 15px;
    cursor: pointer;
    color: green;
}
.consolidateOrderSelected {
    font-size: 15px;
    cursor: pointer;
    color: #eb9316;
}
.checkToArticle {
    margin-left: 5px !important;
    display: none;
}
#saveArticle, #cancelArticleBtn{
    display: none;
}
#errorArticle {
    color: #000000;
    display: none;
}
.inputError {
    border: 1px solid hsla(360, 99%, 46%, 0.92) !important;
    border-radius: 2px
}
.orderTableActionsWrapper {
    /*width: 500px !important;
    margin-left: -31px;*/
}
.rc-handle-container {
  position: relative;
}
.rc-handle {
  position: absolute;
  width: 7px;
  cursor: ew-resize;
  margin-left: -3px;
  z-index: 2;
}
table.rc-table-resizing {
  cursor: ew-resize;
}
table.rc-table-resizing thead,
table.rc-table-resizing thead > th,
table.rc-table-resizing thead > th > a {
  cursor: ew-resize;
}
.font-select {
  font-size: 16px;
  width: 210px;
  position: relative;
  display: inline-block;
  zoom: 1;
  *display: inline;
}

.font-select .fs-drop {
  background: #fff;
  border: 1px solid #aaa;
  border-top: 0;
  position: absolute;
  top: 29px;
  left: 0;
  -webkit-box-shadow: 0 4px 5px rgba(0,0,0,.15);
  -moz-box-shadow   : 0 4px 5px rgba(0,0,0,.15);
  -o-box-shadow     : 0 4px 5px rgba(0,0,0,.15);
  box-shadow        : 0 4px 5px rgba(0,0,0,.15);
  z-index: 999;
}

.font-select > a {
  background-color: #fff;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #eeeeee), color-stop(0.5, white));
  background-image: -webkit-linear-gradient(center bottom, #eeeeee 0%, white 50%);
  background-image: -moz-linear-gradient(center bottom, #eeeeee 0%, white 50%);
  background-image: -o-linear-gradient(top, #eeeeee 0%,#ffffff 50%);
  background-image: -ms-linear-gradient(top, #eeeeee 0%,#ffffff 50%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#ffffff',GradientType=0 );
  background-image: linear-gradient(top, #eeeeee 0%,#ffffff 50%);
  -webkit-border-radius: 4px;
  -moz-border-radius   : 4px;
  border-radius        : 4px;
  -moz-background-clip   : padding;
  -webkit-background-clip: padding-box;
  background-clip        : padding-box;
  border: 1px solid #aaa;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  height: 26px;
  line-height: 26px;
  padding: 0 0 0 8px;
  color: #444;
  text-decoration: none;
}

.font-select > a span {
  margin-right: 26px;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  line-height: 1.8;
  -o-text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  cursor: pointer;
}

.font-select > a div {
  -webkit-border-radius: 0 4px 4px 0;
  -moz-border-radius   : 0 4px 4px 0;
  border-radius        : 0 4px 4px 0;
  -moz-background-clip   : padding;
  -webkit-background-clip: padding-box;
  background-clip        : padding-box;
  background: #ccc;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #ccc), color-stop(0.6, #eee));
  background-image: -webkit-linear-gradient(center bottom, #ccc 0%, #eee 60%);
  background-image: -moz-linear-gradient(center bottom, #ccc 0%, #eee 60%);
  background-image: -o-linear-gradient(bottom, #ccc 0%, #eee 60%);
  background-image: -ms-linear-gradient(top, #cccccc 0%,#eeeeee 60%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cccccc', endColorstr='#eeeeee',GradientType=0 );
  background-image: linear-gradient(top, #cccccc 0%,#eeeeee 60%);
  border-left: 1px solid #aaa;
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  height: 100%;
  width: 18px;
}

.font-select > a div b {
  background: url('fs-sprite.png') no-repeat 0 1px;
  display: block;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.font-select .fs-drop {
  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius   : 0 0 4px 4px;
  border-radius        : 0 0 4px 4px;
  -moz-background-clip   : padding;
  -webkit-background-clip: padding-box;
  background-clip        : padding-box;
}

.font-select .fs-results {
  margin: 0 4px 4px 0;
  max-height: 190px;
  width: 200px;
  padding: 0 0 0 4px;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
}

.font-select .fs-results li {
  line-height: 80%;
  padding: 7px 7px 8px;
  margin: 0;
  list-style: none;
  font-size: 18px;
}

.font-select .fs-results li.active {
  background: #3875d7;
  color: #fff;
  cursor: pointer;
}
.font-select .fs-results li em {
  background: #feffde;
  font-style: normal;
}

.font-select .fs-results li.active em {
  background: transparent;
}

.font-select-active > a {
  -webkit-box-shadow: 0 0 5px rgba(0,0,0,.3);
  -moz-box-shadow   : 0 0 5px rgba(0,0,0,.3);
  -o-box-shadow     : 0 0 5px rgba(0,0,0,.3);
  box-shadow        : 0 0 5px rgba(0,0,0,.3);
  border: 1px solid #5897fb;
}

.font-select-active > a {
  border: 1px solid #aaa;
  -webkit-box-shadow: 0 1px 0 #fff inset;
  -moz-box-shadow   : 0 1px 0 #fff inset;
  -o-box-shadow     : 0 1px 0 #fff inset;
  box-shadow        : 0 1px 0 #fff inset;
  background-color: #eee;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, white), color-stop(0.5, #eeeeee));
  background-image: -webkit-linear-gradient(center bottom, white 0%, #eeeeee 50%);
  background-image: -moz-linear-gradient(center bottom, white 0%, #eeeeee 50%);
  background-image: -o-linear-gradient(bottom, white 0%, #eeeeee 50%);
  background-image: -ms-linear-gradient(top, #ffffff 0%,#eeeeee 50%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eeeeee',GradientType=0 );
  background-image: linear-gradient(top, #ffffff 0%,#eeeeee 50%);
  -webkit-border-bottom-left-radius : 0;
  -webkit-border-bottom-right-radius: 0;
  -moz-border-radius-bottomleft : 0;
  -moz-border-radius-bottomright: 0;
  border-bottom-left-radius : 0;
  border-bottom-right-radius: 0;
}

.font-select-active > a div {
  background: transparent;
  border-left: none;
}

.font-select-active > a div b {
  background-position: -18px 1px;
}
.toCollapse {
    cursor: pointer;
}
.emptyGlyphSpan {
    color: white;
}
.inputOrderDetails {
    width: 75%;
}
#consOrderButtonsWrapper {
    display: none;
    margin-top: 10px;
    margin-bottom: 10px;
}
.nameOfProduct {
    width: 236px !important;
    height: 30px !important;
}
.consTr, .consWithoutSectionAverageTr, .consWithoutSectionTr {
    display: none;
}
#previewPDFModal .modal-dialog  {
    width:595px;
    height: 842px;
}
#productPicture {
    height: 215px;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
}
#orderCurrenciesWrapper {
    margin-bottom: 5px;
}
.clearer { clear: both; }