<div id="databaseWrapper" class="split-pane fixed-left">
        <div class="split-pane-component" id="db-left-component">
            <div id="tabs">
                <div role="tabpanel">
                    <ul class="nav nav-tabs" role="tablist" id="myTab">
                        <li role="presentation" id="dbProductsListTab">
                            <a href="#dbProductsListList" aria-controls="dbProductsListList" role="tab" data-toggle="tab">
                                <span class="glyphicon glyphicon-folder-open" aria-hidden="true" style="color:#eb9316;"></span>
                            </a>
                        </li>
                        <li role="presentation" id="addNewTab"><a>+</a></li>
                    </ul>
                    <div class="tab-content" id="leftTabsContent">
                        <div role="tabpanel" class="tab-pane" id="dbProductsListList">
                            <div id="fileManagerProductsWrapper">
                                <div class="col-md-12" id="dbTopMenuWrapper">
                                    <div class="col-md-4">                                        
                                        <div class="col-md-12">
                                            <select class="form-control input-sm" id="fileManagerCatogoriesSelect"></select>
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="col-md-10">
                                            <input type="text" class="form-control" id="FMsearchInProducts" placeholder="Поиск">
                                        </div>
                                        <div class="col-md-2">
                                            <button class="btn btn-success btn-sm" id="showItemFromFileManager" disabled>
                                                <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <table class="table table-bordered">
                                    <tbody id="fileManagerProductsTable">
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane currentTab"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="split-pane-divider" id="db-divider"></div>
        <div class="split-pane-component" id="db-right-component">
            <div class="row categoriesWrapper" data-elem="categories">
                <div class="col-md-12">
                    <h4>Категории <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span></h4>
                </div>
                <div class="col-md-10 col-md-offset-1 categoriesListTable">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Категория</th>
                                <th>Артикул</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
            <div class="row kimWrapper" data-elem="kim">
                <div class="col-md-12">
                    <div class="col-md-12">
                        <h4>КИМ <span class="glyphicon glyphicon-fire" aria-hidden="true"></span></h4>
                    </div>
                    <div class="col-md-10 col-md-offset-1 kimListTable">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Сложность изделия</th>
                                    <th>КИМ</th>
                                    <th>Описание</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                        <!--<div class="col-md-12">
                            <input type="text" id="kimHardInput" placeholder="Сложность изделия"/>
                            <input type="number" id="kimInput" step="0.1" min="0.1" placeholder="КИМ"/>
                            <button class="btn btn-info btn-sm" id="addKIM">Добавить</button>
                        </div>
                        <div class="col-md-8" id="kimListWrapper">
                        </div>-->
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <h4>Металлы <span class="glyphicon glyphicon-oil" aria-hidden="true"  data-toggle="collapse"
                                  data-target="#metallsCollapse" aria-expanded="true" aria-controls="metallsCollapse">
                    </span>
                </h4>
                <div class="collapse in" id="metallsCollapse">
                    <div class="col-md-12">
                        <input type="text" id="metallName" placeholder="Металл"/>
                        <input type="number" id="metallPrice" step="10" placeholder="Цена"/>
                        <input type="number" id="metallMass" step="0.1" min="0.1" placeholder="Масса"/>
                        <input type="number" id="metallOutPrice" step="10" placeholder="Исходящая цена"/>
                        <input type="text" id="metallArticle" placeholder="Артикул"/>
                        <button class="btn btn-info btn-sm" id="addMetall">Добавить</button>
                    </div>
                    <div class="col-md-12" id="metallListWrapper">
                        <table class="table table-bordered">
                            <tbody id="tbodyMetalls">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearer"></div>
    </div>